@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --font-base: 'Nunito', serif;

    --primary-color-bs-black: #323232;
    --primary-color-silver: #AFAFAF;
    --primary-color-white: #FFFFFF;

    --secondary-color-bs-dark-black: #000000;
    --secondary-color-bs-mercury: #E1E1E1;
    --secondary-color-bs-alabaster: #FAFAFA;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

a {
    color: unset;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}