@use '../../partials/breakpoints' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/typeface' as *;
@use '../../partials/colors' as *;

.footerText {
    &__container {
        padding: 24px 0 48px 0;
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
            justify-content: space-between;
        }  
        @include desktop {
            justify-content: flex-start;
        }           
    }
    &__content {
        padding-right: 5rem;
    }
    &__name {
        font-family: 'Avenir Next Demi Bold';
    }
}