@use '../../partials/breakpoints' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/typeface' as *;
@use '../../partials/colors' as *;

.footer {
    &__container {
        background-color: $bandsite_black;
        color: $white;
        padding: 24px 16px 16px 16px;
        @include tablet {
            padding: 48px 40px;
        }
        @include desktop {
            padding-left: 8rem;
        }
    }
    &__bottomLogo {
        height: 20px;
        width: 120px;
        @include tablet {
            display: none;
        }
    }
    &__copyrightText {
        padding-top: 24px;
    }
}