// mobile
// ! Page Header - H1
$h1_text_size_m: 24px;
$h1_line_height_m: 32px;

// ! Section Header - H2
$h2_text_size_m: 24px;
$h2_line_height_m: 32px;

// ! Subheader - H3
$h3_text_size_m: 14px;
$h3_line_height_m: 22px;

// ! Body copy - H4
$h4_text_size_m: 13px;
$h4_line_height_m: 18px;

// ! Footer copy - H5
$h5_text_size_m: 13px;
$h5_line_height_m: 18px;

// ! Labels & buttons - H6
$h6_text_size_m: 10px;
$h6_line_height_m: 20px;


// desktop & tablet
// ! Page Header - H1
$h1_text_size_dt: 60px;
$h1_line_height_dt: 68px;

// ! Section Header - H2
$h2_text_size_dt: 36px;
$h2_line_height_dt: 44px;

// ! Subheader - H3
$h3_text_size_dt: 24px;
$h3_line_height_dt: 32px;

// ! Body copy - H4
$h4_text_size_dt: 14px;
$h4_line_height_dt: 22px;

// ! Footer copy - H5
$h5_text_size_dt: 14px;
$h5_line_height_dt: 20px;

// ! Labels & buttons - H6
$h6_text_size_dt: 12px;
$h6_line_height_dt: 20px;